@model Core.MVC.SingalPageApplication.Models.Department

@{
    Layout = null;
}
<input type="hidden" id="header" value="Delete Department" />
<p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
           
        </div>
    </form>
</div>